ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="047d", ATTRS{idProduct}=="2041", RUN+="/usr/local/bin/trackball.sh"
# /etc/udev/rules.d
#  tail -f /var/log/syslog
