#place this in ~/.local/share/applications
#or gui, right click menu button & configure
[Desktop Entry]
Type=Application
Terminal=false
Name=urxvt/tmux
#Icon=/var/tmp/urxvt.icon.png
Exec=/home/${USER}/Documents/happy-scripts/urxvt.sh
